<div class="clr-row">
  <div class="card-container px-1 pb-1">
    <div class="card">
      <div class="card-header">
        Leads
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-6">
              <clr-icon shape="grid-view" class="user card-icon"></clr-icon>
            </div>
            <div class="clr-col-6">
              <div class="clr-row">
                <h3 class="clr-col-12">Leads</h3>
                <!-- <div class="clr-col-12">
                  <button class="btn btn-link clrsky-btn-link" (click)="onClickAddNewUser()">
                    Add New
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer media clr-justify-content-center">
        <button class="btn btn-link clrsky-btn-link" routerLink="/users">
          Manage All Users
        </button>
      </div> -->
    </div>
  </div>
  <div class="card-container px-1 pb-1">
    <div class="card">
      <div class="card-header">
        Products
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-6">
              <clr-icon shape="library" class="cloud card-icon"></clr-icon>
            </div>
            <div class="clr-col-6">
              <div class="clr-row">
                <h3 class="clr-col-12">Products</h3>
                <!-- <div class="clr-col-12">
                  <button class="btn btn-link clrsky-btn-link" (click)="onClickAddNewCloudZone()">
                    Add New
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer media clr-justify-content-center">
        <button class="btn btn-link clrsky-btn-link" routerLink="/cloudzones">
          Manage Cloud Zones
        </button>
      </div> -->
    </div>
  </div>
  <div class="card-container px-1 pb-1">
    <div class="card">
      <div class="card-header">
        Reports
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-row">
            <div class="clr-col-6">
              <clr-icon shape="view-list" class="portfolio card-icon"></clr-icon>
            </div>
            <div class="clr-col-6">
              <div class="clr-row">
                <h3 class="clr-col-12">Report</h3>
                <!-- <div class="clr-col-12">
                  <button class="btn btn-link clrsky-btn-link" (click)="onClickAddNewCloudZone()">
                    Add New
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer media clr-justify-content-center">
        <button class="btn btn-link clrsky-btn-link" routerLink="/cloudzones">
          Manage Cloud Zones
        </button>
      </div> -->
    </div>
  </div>
</div>